<div class="container">
  <div class="col-md-4" id="search-panel">
    <h4>Search by city</h4>
    <div class="search-part" id="search-city">
      <%= form_tag(search_rides_dashboards_path, remote: true, method: :get, enforce_utf8: false) do %>
        <div class="form-group">
          <%= label_tag :origin_city %>
          <%= text_field_tag :origin_city, params[:origin_city], required: true, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= label_tag :destination_city %>
          <%= text_field_tag :destination_city, params[:destination_city], required: true, class: "form-control" %>
        </div>
    </div>
    <h4>Search by date</h4>
    <div class="search-part" id="search-date">
      <div class="form-group">
        <%= label_tag :ride_date %>
        <%= text_field_tag :ride_date, nil, class: 'form-control', id: "search-ride-date" %>
      </div>
    </div>
    <h4>Search by price</h4>
    <div class="search-part" id="search-price">
      <div>
        <div id="the_slider"></div>
      </div>
      <div>
        <div class="form-inline">
          <%= number_field_tag :price_from, 0, class: "form-control", id: "price-from" %>
          <%= number_field_tag :price_to, @max_price, class: "form-control", id: "price-to" %>
        </div>
      </div>
    </div>
    <div class="form-group">
      <%= submit_tag "Go!", name: nil, class: "btn btn-success btn-lg", role: "button" %>
    </div>
      <% end %>
  </div>
  <div class="col-md-8" id="search-results">
    <%= render 'results' %>
  </div>
</div>
  

