<div>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="row"><h3><%= @driver.email %></h3></div>
          <% if @driver.has_image? %>
            <div class="row">
              <%= image_tag(@driver.image.url(:large)) %>
            </div>
            <div class="row">
              <%= link_to "Edit profile picture", edit_user_registration_path(@driver), class: "btn btn-success" %>
            </div>
          <% else %>
            <div class="row">
              <%= image_tag "http://place-hold.it/200x200" %>
            </div>
            <div class="row">
              <%= link_to "Add profile picture", edit_user_registration_path(@driver), class: "btn btn-success" %>
            </div>
          <% end %>
          <% if @driver.has_car? %>
            <div class="row">
              <%= image_tag(@driver.car.car_image.url(:large)) %>
            </div>
            <p><%= @driver.car.car_name %></p>
            <div class="row">
              <%= link_to "Edit car", edit_user_car_path(@driver, @driver.car), class: "btn btn-success" %>
              <%= link_to "Delete car", user_car_path(@driver, @driver.car), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-success" %>
            </div>
          <% else %>
            <div class="row">
              <%= image_tag "http://place-hold.it/200x200" %>
            </div>
            <div class="row">
              <%= link_to "Add car", new_user_car_path(@driver), class: "btn btn-success" %>
            </div>
          <% end %>
        
      </div>
      
      <div class="col-md-4" id="listed-rides">
        <% @driver.rides.each do |ride| %>
          <%= link_to user_ride_path(ride.user, ride) do %>
              <ul>
                <li>From: <%= ride.origin_city %></li>
                <li>To: <%= ride.destination_city %></li>
                <li>Ride date: <%= ride.normal_date %></li>
                <li>Ride time: <%= ride.just_time %></li>
                <li>Seats: <%= ride.seats %></li>
                <li>Price: <%= ride.price %></li>
                <li>Details: <%= ride.details %></li>
              </ul>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <%= link_to "Back", :back, class: "btn btn-lg btn-success" %>
</div>
