<div>
  <div class="container">
    <% @rides.each do |ride| %>
      <%= link_to user_ride_path(ride.user, ride) do %>
        <div class="row" id="listed-rides">
          <div class="col-sm-3">
            <p><%= ride.user.email %></p>
            <% if ride.user.has_image? %>
              <div class="row">
                <%= image_tag(ride.user.image.url(:large)) %>
              </div>
            <% else %>
              <div class="row">
                <%= image_tag "http://place-hold.it/200x200" %>
              </div>
            <% end %>
            <% if ride.user.has_car? %>
              <p><%= ride.user.car.car_name %></p>
            <% end %>
          </div>
          <div class="col-sm-7">
            <ul>
              <li>From: <%= ride.origin_city %></li>
              <li>To: <%= ride.destination_city %></li>
              <li>Ride date: <%= ride.normal_date %></li>
              <li>Ride time: <%= ride.just_time %></li>
              <li>Seats: <%= ride.seats %></li>
              <li>Price: <%= ride.price %></li>
              <li>Details: <%= ride.details %></li>
            </ul>
          </div>  
        </div>
      <% end %>
    <% end %>
  </div>
</div>
