<div>
  <header>
    <h1 class="text-center"><%= @ride.user.name %>'s ride</h1>
  </header>
  </br>
  </br>

  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <div id="map"></div>
      </div>
      <div class="col-md-5">
        <h3>From: <%= @ride.just_origin_city %></h3>
        <h3>To: <%= @ride.just_destination_city %></h3>
        <h4>Ride date: <%= @ride.normal_date %></h4>
        <h4>Ride time: <%= @ride.just_time %></h4>
        <h4>Seats: <%= @ride.seats %></h4>
        <h4>Price: <%= @ride.price %></h4>
        <% unless @ride.user == current_user %>
          <p><%= link_to "Send #{@ride.user.name} a message", new_message_path(recipientId: @ride.user_id), class: 'btn btn-md btn-primary' %></p>
        <% end %>
        <p>Details: <%= @ride.details %></p>
        <div hidden id="origin-lat"><%= @ride.lat_origin %></div>
        <div hidden id="origin-long"><%= @ride.long_origin %></div>
        <div hidden id="destination-lat"><%= @ride.lat_destination %></div>
        <div hidden id="destination-long"><%= @ride.long_destination %></div> 
      </div> 
    </div>
    <div class="row" id="ride-driver-info">
      <div class="col-md-7">
        <div class="row">
          <div class="col-sm-4">
            <%= image_tag(@driver.image.url(:large), class: "image") %>
          </div>
          <div class="col-sm-8">
            <div class="row">
              <div class="col-xs-7">
                <h3><%= @ride.user.name %></h3>
                <h3>Rides: <%= @driver.rides.count %></h3>
              </div>
              <div class="col-xs-5">
                <div class="rating">
                  <h4>Rating: </h4><%= rating_for @driver, "rating", star: 5, enable_half: true, half_show: true %>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="ride-about-me">
                <p><span>About me:</span> <%= @driver.about_me %></p>
              </div>
            </div>
          </div>
        </div>
      </div>  
      <div class="col-md-3">
        <h3><%= @car.car_name %></h3>
        <br>
        <div>
          <%= image_tag(@car.car_image.url(:large), class: "image") %>
        </div>
      </div>     
      <div class"col-md-2">
        <div class="buttons">
          <% if session[:search_results] %>
            <%= link_to "Back", session[:search_results], class: "btn btn-lg btn-success" %>
          <% else %>
            <%= link_to "Back", :back, class: "btn btn-lg btn-success" %>
          <% end %>          
        </div>

        <% if current_user == @ride.user %>
          
            <div class="buttons"><%= link_to "Edit ride", [:edit, current_user, @ride], class: "btn btn-default btn-lg" %></div>
            <div class="buttons"><%= link_to 'Delete ride', [current_user, @ride],
                          class: "btn btn-danger btn-lg",
                          method: :delete,
                          data: { confirm: 'Are you sure?' } %></div>
          
        <% end %>
      </div>
    </div>
  </div>
</div>



