<!DOCTYPE html>
<html>
  <head>
    <title>Commute.rs</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    
  </head>

  <body>
    
    <%= render 'shared/header' %>
    
    <div class="flash-msg">
      <% flash.each do |key, msg| %>
        <div class="text-center alert
                    alert-<%= key == 'notice' ? 'success' : 'danger' %>" id="flash-text">
          <%= msg %>
        </div>
      <% end %>
    </div>
    
    <div class="page-content"><%= yield %></div>
    
    <%= render 'shared/footer' %>
    
    <%= javascript_include_tag 'application' %>
    <% if request.fullpath == "/users/#{params[:user_id]}/rides/#{params[:id]}" || request.fullpath == "/users/#{params[:user_id]}/rides/new" %>
      <%= javascript_include_tag "//maps.google.com/maps/api/js?key=#{ENV['GOOGLE_MAPS_API_KEY']}&callback=initMap&libraries=places" %>
    <% end %>
  </body>
  
  
</html>
