<!DOCTYPE html>
<html>
  <head>
    <title>Commute.rs</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    
  </head>

  <body>
    
    <%= render 'shared/header' %>
    
    <div class="flash-msg">
      <% flash.each do |key, msg| %>
        <div class="text-center alert
                    alert-<%= key == 'notice' ? 'success' : 'danger' %>">
          <%= msg %>
        </div>
      <% end %>
    </div>
    
    <div class="row"><%= yield %></div>
    
    <%= render 'shared/footer' %>
    
    <%= javascript_include_tag 'application' %>
    <% if request.fullpath == "/users/#{params[:user_id]}/rides/#{params[:id]}" || request.fullpath == "/users/#{params[:user_id]}/rides/new" %>
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCmdElKmT_ux06pCwT7wmIY5GQCQyMkSL8&callback=initMap&libraries=places" type="text/javascript"></script>
    <% end %>
  </body>
  
  
</html>
